<script setup lang="ts">
import { useConfirmStore } from "@/stores/confirm";
import { useProductsStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";
const productStore = useProductsStore();
const confirm = useConfirmStore();
onMounted(async () => {
  await productStore.getProducts();
});
</script>
<template>
  <ProductDialog></ProductDialog>
  <v-btn @Click="productStore.dialog = true">Add New </v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn class="mr-5" @Click="productStore.editProduct(item)"
            >Edit</v-btn
          ><v-btn @Click="confirm.OnConfirm(item.id!, 'product')">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
