<script setup lang="ts">
import { useConfirmStore } from "../stores/confirm";

const confirm = useConfirmStore();
</script>
<template>
  <v-dialog v-model="confirm.isShow" persistent width="auto"
    ><v-card
      ><v-card-text class="text-center">Confirm Delete</v-card-text
      ><v-card-actions
        ><v-btn color="white" class="bg-green" @Click="confirm.isShow = false"
          >Cancel</v-btn
        ><v-btn
          color="white"
          class="bg-red"
          @Click="confirm.DelProduct(confirm.Id!)"
          >Confirm</v-btn
        ></v-card-actions
      ></v-card
    ></v-dialog
  >
</template>
