<script setup lang="ts">
import MainLayout from "../src/layouts/MainLayout.vue";
import FullLayout from "../src/layouts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import ConfirmDelete from "./components/ConfirmDelete.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <ConfirmDelete></ConfirmDelete>
</template>
