<script setup lang="ts">
import { useConfirmStore } from "@/stores/confirm";
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();
const confirm = useConfirmStore();
onMounted(async () => {
  await userStore.getUser();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-btn @Click="userStore.dialog = true">Add New </v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Name</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.user" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>
          <v-btn class="mr-5" @Click="userStore.editUser(item)">Edit</v-btn
          ><v-btn @Click="confirm.OnConfirm(item.id!, 'user')">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
